extends /_includes/_layouts/core

block meta
  - meta.title = data.item.title
  - meta.description = data.item.description
  - pageId = "item"

block content
  .flcnw.flcch
    .fln.max-w-100p.flex.cnw.md_rnw.shadow-2.bg-gray-3.rounded-4.px-1.py-01
      .fln.w-100p.md_w-11.flrnw
        .fln.w-9.h-9.md_w-11.md_h-11.p-1.bg-baldur-scroll.rounded-4.shadow-2
          +img.h-100p.w-100p.object-contain(src=`/assets/pictures/${data.item.gameSlug}/${data.item.slug}.png`)
        .fla.flrnw.flrcv.px-1.md_hidden
          .fla.bold.text-5=data.item.title

      .fla
        .flcnw.max-w-75ch.md_ml-1
          .fln.bold.text-5.m.hidden.md_block=data.item.title
          .fln.py-1.text-3.lh-4=data.item.description
          .flrnw.flrar.my-1.text-1
            a.blue-8.bg-baldur-wiki.bg-right.bg-contain.bg-no-repeat.pr-4.hover_blue.transition-colors(href=data.item.originalUrl target="_blank") Extracted from Baldur's Gate Wiki

    .__previews.fln.mt-2.w-100p
      - displayType = _.lowerCase(data.item.typePlural);
      .bold.text-4.white=`Other interesting ${displayType}:`
      #previews


  script!=`window.ITEM = ${JSON.stringify(data.item)};`
  textarea#previewTemplate(hidden)
    include /_includes/_templates/preview
